HTTP_PORT=3000
HTTP_HOST='http://localhost:3000'

JWT_SECRET='123456'
JWT_ACCESS_TOKEN_TTL='2h'
JWT_REFRESH_TOKEN_TTL='7d'

DATABASE_USER='taskflow-postgres'
DATABASE_PASSWORD='123456'
DATABASE_PORT=5434
DATABASE_HOST='localhost'
DATABASE_NAME='taskflow-api'
DATABASE_URI="postgresql://taskflow-postgres:123456@localhost:5434/taskflow-api"